html,
body {
  height: 100%;
  margin: 0;
  padding: 0;

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;

  max-width: 100%;
  min-width: 100%;
}

img {
  padding: 0;
  display: block;
  margin: 0 auto;
  max-height: 800px;
  max-width: 100%;


}
